@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Code css*/
body {
    font-family: 'Poppins', sans-serif;
}
.login-input {
    @apply w-80 h-8 p-4 shadow-sm rounded-md sm:text-sm
}
.login-input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*code tailwind*/
.login-input-focus {
    @apply focus:outline-none focus:border-p-blue focus:ring-p-blue focus:ring-1 placeholder-slate-400
}
.login-shortcut {
    @apply text-p-blue cursor-pointer
}